# ðŸ¤— HuggingFace Datasets

HuggingFace provides the ability to interact with datasets dynamically. There is no need to pre-download large models and include them in a repository like this one.

In [3]:
#!pip install datasets

### Use dataset from hub

In [11]:
import pandas as pd

df= pd.read_csv("hf://datasets/tawounfouet/temporay-ds-v2/diabetes.csv")

In [12]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
import datasets

dataset = datasets.load_dataset("tawounfouet/temporay-ds-v2")

Downloading readme:   0%|          | 0.00/24.0 [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/23.9k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/768 [00:00<?, ? examples/s]

In [15]:
dataset

DatasetDict({
    train: Dataset({
        features: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
        num_rows: 768
    })
})

In [16]:
dataset["train"]

Dataset({
    features: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
    num_rows: 768
})

In [17]:
dataset["train"].to_pandas()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
from datasets import load_dataset, list_datasets

In [5]:
# Explore available datasets
available = list_datasets()
print(len(available))
print([i for i in available if '/' not in i])

/tmp/ipykernel_31354/1710544113.py:2: FutureWarning: list_datasets is deprecated and will be removed in the next major version of datasets. Use 'huggingface_hub.list_datasets' instead.
  available = list_datasets()

164299
[]

In [6]:
# load the dataset dynamically by passing the name. 
movie_rationales = load_dataset("movie_rationales")

Downloading builder script:   0%|          | 0.00/4.42k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/6.65k [00:00<?, ?B/s]

The repository for movie_rationales contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/movie_rationales.
You can avoid this prompt in future by passing the argument `trust_remote_code=True`.

Do you wish to run the custom code? [y/N]  y

Downloading data:   0%|          | 0.00/3.90M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/1600 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/200 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/199 [00:00<?, ? examples/s]

In [7]:
# The object is a dict-like mapping of actual datasets
movie_rationales

DatasetDict({
    train: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 1600
    })
    validation: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 200
    })
    test: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 199
    })
})

In [8]:
# Select the "train" dataset and then port it to pandas
train = movie_rationales["train"]
df = train.to_pandas()

In [9]:
df.describe()

             label
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [10]:
df.head()

,review,label,evidences
0,"plot : two teen couples go to a church party ,...",0,"[mind - fuck movie, the sad part is, downshift..."
1,the happy bastard 's quick movie review damn\n...,0,"[it 's pretty much a sunken ship, sutherland i..."
2,it is movies like these that make a jaded movi...,0,[the characters and acting is nothing spectacu...
3,""" quest for camelot "" is warner bros . '\nfirs...",0,"[dead on arrival, the characters stink, subpar..."
4,synopsis : a mentally unstable man undergoing ...,0,"[it is highly derivative and somewhat boring, ..."

In [18]:
from datasets import load_dataset
data = load_dataset('aiana94/polynews-parallel', 'eng_Latn-ron_Latn')

data

Downloading readme:   0%|          | 0.00/110k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/914k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/7983 [00:00<?, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['src', 'tgt', 'provenance'],
        num_rows: 7983
    })
})